{% extends 'main.html' %} {% block content %}

<style>
    .room-container{
    display:grid;
    grid-template-columns:4fr 1fr;
    }

</style>
<!--style-->

<div class="room-container">
    <div>
        <h2>{{room.name}}</h2>
        <p>{{ room.description }}</p>
        <h3>Conversation</h3>
        <hr>
        {% for msg in room_message %}
        <div>
            <small>@ {{ msg.user }} {{ msg.created|timesince }}</small>
            <br>
            <span> {{ msg.body }} </span>
            {% if request.user == msg.user %}
            <a href="{% url 'delete-msg' msg.id %}">delete</a>
            {% endif %}
            <hr>
        </div>
        {% endfor %}
        <div>
            {% if request.user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="msg_body" id="" placeholder="write your message here..">
                <input type="submit" value="send">
            </form>
            {% endif %}
        </div>
    </div>
    <div>
        <h3>Perticipant's</h3>
        <hr>
        {% for user in  participants %}
        <div>
            <p>@{{ user.username }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
