{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--new room design-->
<style>
    .room-container{
    display:grid;
    grid-template-columns:3fr 1fr;
    grid-gap:25px;

    }
    .room-box {
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    border: 2px solid darkorchid;
    padding: 20px 25px;
    min-height: 100vh;
    margin-bottom: 10px;
    position: relative;
}
.msg-send-box form {
    position: relative;
    margin-bottom: -30px;
    margin-top: 30px;
    border-top: 1px solid;
    padding-top: 10px;
}


.participate-box {
    border: 2px solid darkmagenta;
    padding: 15px;
}
.participant h3 {
    font-weight: 600;
    font-family: monospace;
    border-bottom: 3px solid cornflowerblue;
    text-align: center;
    margin-bottom: 15px;
}

.participant p {
    border: 1px solid;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: monospace;
    background: black;
    color: white;
    margin-bottom: 10px;
    display: table;
}



</style>
<!--End of style-->

<div class="accordion w-100 m-auto my-3" id="accordionPanelsStayOpenExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button btn btn-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                {{room.name}}
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
             aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p>{{ room.description }}</p>
            </div>
        </div>
    </div>
</div>

<!--<h2>{{room.name}}</h2>-->
<!--<p>{{ room.description }}</p>-->
<h3>Conversation</h3>


<div class="room-container">
    <div class="room-box">

        {% for msg in room_message %}
        <div>
            <a href="{% url 'user-profile' msg.user.id %}" ></a>
            <small>@{{ msg.user }} {{ msg.created|timesince }}</small>
            <br>
            <span> {{ msg.body }} </span>
            {% if request.user == msg.user %}
            <a href="{% url 'delete-msg' msg.id %}">
                <i class="fa-solid fa-xmark"></i>
            </a>

            {% endif %}
            <hr>
        </div>
        {% endfor %}
        <div class="msg-send-box">
            {% if request.user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                <!--                <input type="text" name="msg_body" id="" placeholder="write your message here..">-->
                <!--                <input type="submit" value="send">-->

                <div class="input-group mb-3 w-50 m-auto">
                    <input type="text" name="msg_body" class="form-control" placeholder="Recipient's username"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">send</button>
                </div>
            </form>
            {% endif %}
        </div>

    </div>

    <!--  perticipate -->
    <div class="participate-box">
        <div class="participant">
            <h3>Perticipant's</h3>
            {% for user in participants %}

            <p>@{{ user.username }}</p>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
